p {
    font-size: 11pt;
}

p:first-child {
    font-size: 9mm;
    font-style: italic;
}

#pierwszy_karako {
    width: 900px;
    background-color: lightblue;

    border-color: navy;
    border-style: solid;
    border-width: 5px;

    border-radius: 16px;

    margin-left: auto;
    margin-right: auto;
}

#drugi_karako {
    width: 936px;
    background-color: pink;

    border-color: black;
    border-style: solid;
    border-width: 3px;

    border-radius: 13px;
}

#trzeci_karako {
    width: 1136px;
    background-color: lightgreen;

    border-color: violet;
    border-style: solid;
    border-width: 7px;

    border-radius: 16px;

    margin-left: auto;
    margin-right: auto;
}