*{
    font-size: 38pt;
    color: red;
    background-color: silver;
}
p.karako_nieuniwersalny{
    font-size: 31pt;
    color: green;
}
.karako_uniwersalny{
    font-size: 32pt;
    color: green;
}


/* Karako z57_CSS */